# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Environment variables
.env

# Logs
*.log